* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

.container {
    width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    color: $title;
    font-size: 32px;
    font-weight: 700;
}


.contact-list {
    display: flex;
    gap: 18px;
}

.contact__link {
    & svg>path {
        transition: all .3s;
    }

    & svg>g>path {
        transition: all .3s;
    }

    &:hover {
        svg>path {
            fill: $title;
        }

        svg>g>path {
            fill: $title;
        }
    }
}

.scroll {
    z-index: 10;

    &__link {
        display: inline-flex;
        align-items: center;

        & svg path {
            transition: all .3s;
        }

        &:hover {

            &>svg {
                animation: bouncedown .4s alternate ease infinite;

                @keyframes bouncedown {
                    from {
                        transform: translateY(-2px);
                    }

                    to {
                        transform: translateY(2px);
                    }
                }
            }

            & svg path {
                fill: $title;
            }

            & .scroll__text {
                font-weight: 600;
                color: $title;
            }
        }
    }

    &__text {
        color: $bg;
        font-size: 12px;
        font-weight: 500;
        padding-left: 8px;
        transition: all .3s;
    }
}

.button {
    padding: 16px 24px;
    background-color: $main;
    color: $second;
    font-size: 16px;
    font-weight: 500;
    line-height: 128.7%;
    letter-spacing: 0.2px;
    border: none;
    outline: transparent;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 3px 8px #021233;
    transition: all .3s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 6px 6px 7px #152952;
    }

    &:active {
        transform: translateY(0);
        box-shadow: 2px 2px 4px #08152f;
    }
}