* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

.container {
    width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    color: $title;
    font-size: 32px;
    font-weight: 700;
}

.scroll {

    &__link {
        display: flex;
        align-items: center;
        // position: relative;
        // left: 36px;
        // bottom: 40px;
        // z-index: 5;
    }

    &__text {
        color: $bg;
        font-size: 12px;
        font-weight: 500;
        padding-left: 8px;
    }
}