@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';



// ==================  Header  ==================


.header {
    position: relative;

    &__bg-layer {
        position: absolute;
        top: 0;
        left: -80px;
        z-index: -5;
    }

    &__bg-decor {
        height: 100vh;
    }

    &__wrapper {
        height: 99vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__content {
        margin-left: 36px;
    }

    &__title {
        font-size: 38px;
        font-weight: 800;
        letter-spacing: 3.04px;
        text-transform: uppercase;
        color: $second;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 600;
        color: $second;
        margin: 16px 0 31px 0;
    }

    &__scroll {
        margin: 0 0 40px 36px;
    }
}

.nav {
    margin-left: 32px;

    &__menu {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
    }

    &__item {
        margin: 45px 32px;
    }

    &__link {
        color: $bg;
        transition: all .3s;

        &:hover {
            color: $title;
        }
    }
}


// ==================  about  ===================

.about {
    height: 100vh;
    padding: 65px 0 60px;
    position: relative;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__bg-layer {
        position: absolute;
        top: -390px;
        left: 0;
        z-index: -6;
    }

    &__photo-wrapper {
        position: relative;
        background-color: transparent;

        &::before {
            content: url(../images/decor-element.png);
            position: absolute;
            top: -35px;
            left: -50px;
            z-index: -1;
        }
    }

    &__photo {
        max-width: 475px;
        height: 650px;
        object-fit: cover;
    }

    &__scroll {
        position: absolute;
        left: -30px;
        bottom: -80px;
    }

    &__content {
        padding-left: 56px;
        flex: 0 1 645px;
    }

    &__text {
        color: $main;
        font-size: 24px;
        font-weight: 400;
        line-height: 170%;
        margin: 32px 0 48px;
        max-width: 617px;
    }
}

// ===================  Skills  ======================

.skills {
    height: 100vh;
    padding: 60px 0;
    position: relative;

    &__bg-layer {
        position: absolute;
        top: -650px;
        right: 0;
        z-index: -5;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        flex: 0 1 700px;
        padding-right: 75px;
        position: relative;
    }

    &__scroll {
        position: absolute;
        left: -10px;
        bottom: -120px;
    }

    &__text {
        max-width: 617px;
        margin: 32px 0 48px;
        color: $main;
        font-size: 24px;
        font-weight: 400;
        line-height: 170%;
    }

    &__image-wrapper {
        position: relative;
        background-color: transparent;
        z-index: 1;

        &::before {
            content: url(../images/decor-element.png);
            position: absolute;
            top: -35px;
            right: -50px;
            z-index: -1;
        }
    }

    &__image {
        max-width: 475px;
        height: 650px;
        object-fit: cover;
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 70px;
    }
}

.skill-item {

    &__outher {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $main;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__inner {
        width: 72px;
        height: 72px;
        background-color: $second;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__value {
        color: $bg;
        font-size: 12px;
        font-weight: 600;
    }

    &__title {
        color: $main;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        padding-top: 7px;
    }
}

// ====================  Works  ======================


.works {
    height: 100vh;
    padding: 60px 0;
    position: relative;

    &__bg-layer {
        position: absolute;
        top: 400px;
        left: 70px;
        z-index: -5;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image-wrapper {
        position: relative;
        background-color: transparent;

        &::before {
            content: url(../images/decor-element.png);
            position: absolute;
            top: -36px;
            left: -50px;
            z-index: -1;
        }
    }

    &__image {
        max-width: 475px;
        height: 650px;
        object-fit: cover;
    }

    &__scroll {
        position: absolute;
        left: -15px;
        bottom: -80px;
    }

    &__content {
        flex: 0 1 700px;
        padding-left: 65px;
    }
}

.slider {
    margin-top: 32px;

    &__title {
        color: $title;
        font-size: 24px;
        font-weight: 600;
    }

    &__desc {
        max-width: 617px;
        color: $main;
        font-size: 24px;
        font-weight: 400;
        line-height: 170%;
        margin-top: 24px;
    }

    & ul.slider__tech-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin: 48px 0;
    }

    &__tech-item {
        padding: 8px 12px;
        color: $second;
        background-color: $bg;
        border-radius: 4px;
    }

    &__dots {
        margin-top: 50px;

        &-list {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            gap: 8px;
        }

        &-item {
            cursor: pointer;

            :hover {
                .slider__dots-btn {
                    background-color: $main;
                }
            }

            &--active {
                .slider__dots-number {
                    display: block;
                }

                .slider__dots-btn {
                    background-color: $title;
                }
            }
        }

        &-number {
            display: none;
            color: $main;
            font-size: 14px;
            font-weight: 600;
        }

        &-btn {
            display: block;
            height: 4px;
            width: 115px;
            background-color: $bg;
            transition: all .3s;
        }
    }
}

// ==================  Message  ==================

.message {
    padding: 70px 0;
    min-height: 650px;
    background-image: url(../images/contact-decor.svg);
    background-repeat: repeat;
    background-size: cover;

    &__inner {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }

    &__text {
        color: $main;
        font-size: 38px;
        font-weight: 600;
        line-height: 46px;
        max-width: 430px;
    }
}

.form {
    padding: 32px 38px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 0 1 700px;

    &__title {
        margin-bottom: 10px;
    }

    &__input {
        width: 100%;
        height: 50px;
        padding: 10px 15px;
        font-size: 20px;
        font-weight: 400;
        line-height: 170%;
    }

    &__area {
        padding: 10px 15px;
        resize: none;
        font-size: 20px;
        font-weight: 400;
        line-height: 170%;
        width: 100%;
    }
}


// =================  Footer  ===================


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    min-height: 215px;
    background-color: $main;
    color: $second;
    position: relative;

    &__bg-layer {
        position: absolute;
        bottom: 0;
        right: 100px;
        z-index: 2;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
    }

    &__date {
        font-size: 14px;
        font-weight: 500;
    }
}



@import 'media';